APP_NAME = "CorpusIQ"
ENV = "development"
API_PREFIX = "/api/v1"
VERSION = "0.0.1"


OPENAI_API_KEY = "xxxx"
OPENAI_MODEL = "xxxx"

GEMINI_API_KEY = "xxxx"
GEMINI_MODEL = "xxxx"

OPENROUTER_API_KEY = "xxxx"
OPENROUTER_MODEL = "xxxx"
OPENROUTER_SEARCH_MODEL = "xxxx"

GROQ_API_KEY = "xxxx"
GROQ_MODEL = "xxxx"


#DATABASE
SUPABASE_URL = ""
SUPABASE_ANON_KEY = ""
SUPABASE_PUBLISHABLE_KEY = ""
SUPABASE_SERVICE_ROLE_KEY = ""
SUPABASE_SECRET_KEY = ""
SUPABASE_JWKS_URL=""
DATABASE_URL = ""
